.form{
    display: flex;
    border-top: 2px solid  gray;

}

input:focus,textarea:focus,select:focus{

    outline: none;
}
.sendButton{
    color: #fff;
    width: 500px;
    background-color: blue;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    border: none;

}
.input {
border: none;
border-radius: 0;
padding: 5%;
width: 80%;
font-size: 1.2em;



}